@{

    ViewData["Title"] = "Sharentach Trading Inc. | Sales Representative";
}

<div class="header">SALES REPRESENTATIVE</div>

<div class="upper-body">
    <table class="scroll" cellpadding="5" width="100%">
        <tr>
            <th>
                Name
            </th>
        </tr>
        @foreach (var i in Model.data)
        {
            <tr>
                <td>
                    @i.name
                </td>
                <td>
                    <a asp-area="" asp-controller="Srep" asp-action="edit" asp-route-id="@i.Id">
                        edit
                    </a>
                </td>
                <td>
                    <a asp-area="" asp-controller="Srep" asp-action="delete" asp-route-id="@i.Id">
                        delete
                    </a>
                </td>
            </tr>
        }
    </table>
    <div class="button-vertical">
        <button onclick='document.getElementById("addbutton").click();' class="button"><a style="text-decoration:none; color:inherit;" asp-area="" asp-controller="sRep" asp-action="add" id="addbutton">Add</a></button>
    </div>
</div>