@{

    ViewData["Title"] = "Sharentach Trading Inc. | Sales Representative";
}

<div class="header">SALES REPRESENTATIVE</div>

<div class="upper-body">
    <table class="scroll" cellpadding="5" width="100%">
        <tr>
            <th>
                lastName
            </th>
            <th>
                middleName
            </th>
            <th>
                firstName
            </th>
        </tr>
    </table>
    <div class="button-vertical">
        <button type="submit" class="button">Add</button>
        <button type="submit" class="button">Edit</button>
        <button type="submit" class="button">Delete</button>
    </div>
</div>