@{

    ViewData["Title"] = "Sharentach Trading Inc. | Reports";
}

<div class="header">REPORTS</div>

<div class="upper-body">
    <div class="form">
        <label class="form-text">Select from list:</label>
    </div>
</div>

<div class="lower-body">
    <div class="form">
        <label class="form-text">Specify Agent and Date Range:</label>
    </div>

    <div class="button-vertical">
        <button type="submit" class="button">Okay</button>
        <button type="submit" class="button">Cancel</button>
    </div>
</div>