<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="side-bar">
        <div class="title">
            <h1>SHERANTECH</h1>
            <h4>Trading Inc.</h4>
        </div>
        <ul class="nav-links">
            <li>
                <div class="iocn-link active">
                    <span class="link-name active">Profile</span>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="active" asp-area="" asp-controller="Home" asp-action="Dealers">Dealers</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Inventory">Inventory</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Srep">Sales Representative</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <span class="link-name">Transactions</span>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a asp-area="" asp-controller="Home" asp-action="Delivery">Delivery Receipts</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Purchase">Purchases</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Search">Serial Search</a></li>
                </ul>
            </li>

            <li>
                <div class="iocn-link">
                    <span class="link-name">Accounts</span>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a asp-area="" asp-controller="Home" asp-action="Payable">Payables</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Receive">Recievables</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a asp-area="" asp-controller="Home" asp-action="Report">
                        <span class="link-name">Reports</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    
    @RenderBody()

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>