<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="side-bar">
        <div class="title">
            <h1>SHERANTECH</h1>
            <h4>Trading Inc.</h4>
        </div>
        <ul class="nav-links">
            <li>
                <div class="iocn-link active">
                    <a asp-area="" asp-controller="Home" asp-action="Delivery">
                        <span class="link-name active">Delivery Receipts</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a href="#">Details</a></li>
                    <li><a href="#">Items</a></li>
                    <li><a href="#">Serials (J)</a></li>
                    <li><a href="#">References (K)</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a asp-area="" asp-controller="Home" asp-action="Inventory">
                        <span class="link-name">Inventory</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a href="#">Details</a></li>
                    <li><a href="#">Items</a></li>
                    <li><a href="#">Serials (J)</a></li>
                    <li><a href="#">References (K)</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a asp-area="" asp-controller="Home" asp-action="Dealers">
                        <span class="link-name">Dealers</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a href="#">Particolars</a></li>
                    <li><a href="#">Bank Reference</a></li>
                    <li><a href="#">Agents</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a asp-area="" asp-controller="Home" asp-action="Receive">
                        <span class="link-name">Receivables</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a href="#">Details</a></li>
                    <li><a href="#">Reference No.</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a asp-area="" asp-controller="Home" asp-action="Purchase">
                        <span class="link-name">Purchases</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a href="#">Details</a></li>
                    <li><a href="#">Items</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a asp-area="" asp-controller="Home" asp-action="Report">
                        <span class="link-name">Reports</span>
                    </a>
                </div>
            </li>
            <li>
                <div class="iocn-link">
                    <a asp-area="" asp-controller="Home" asp-action="Search">
                        <span class="link-name">Serial Search</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a href="#">Details</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="header">@ViewData["HeaderTag"]</div>
    <div class="upper-nav">
        <ul class="nav-options">
            <li><a href="#">Transactions</a></li>
            <li><a href="#">Accounts</a></li>
            <li><a href="#">Profiles</a></li>
            <li><a href="#">Reports</a></li>
        </ul>
    </div>
    
    @RenderBody()

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>