<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="header">
        <div class="upper-left">
            <h1>@ViewData["Menu"]</h1>
            <h4>@ViewData["Submenu"]</h4>
        </div>
        <div class="upper-right">
            <h1>SHARENTECH</h1>
            <h4>Trading Inc.</h4>
        </div>
    </div>
</body>
</html>