@{

    ViewData["Title"] = "Sharentach Trading Inc. | Stocks";
}

<div class="header">STOCKS</div>
<div class="upper-nav">
    <ul class="nav-options">
        <li><a asp-area="" asp-controller="Home" asp-action="#">Details</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="#">Items</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="#">Serials</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="#">References</a></li>
    </ul>
</div>

<div class="upper-box" style="height: 240px;">
    <form method="post">
        <label class="text" style="top: 20px; left: 17px;" for="name">Name:</label>
        <div class="input-box" style="top: 48px; left: 20px">
            <input type="text" class="input" name="name" placeholder="Enter here" />
        </div>
        <label class="text" style="top: 20px; left: 350px;" for="category">Category:</label>
        <div class="input-box" style="top: 48px; left: 350px">
            <input type="text" class="input" placeholder="Enter here" name="category">
        </div>
        <label class="text" style="top: 20px; left: 680px;" for="unitPrice">Unit Price:</label>
        <div class="input-box" style="top: 48px; left: 680px">
            <input type="text" class="input" placeholder="Enter here" name="unitPrice">
        </div>
        <label class="text" style="top: 115px; left: 15px;" for="description">Description:</label>
        <div class="input-box" style="top: 140px; left: 20px; width:400px; height:75px;">
            <input type="text" class="input" placeholder="Enter here" name="description">
        </div>
        <div class="save-cancel">
            <input class="save-button" style="margin-top:160px; margin-left: 950px" type="submit" value="Save" />
            <button class="cancel-button" style="margin-top:160px; margin-right: 55px">Cancel</button>
        </div>
    </form>
</div>
<div class="lower-box" style="height: 430px; top: 305px;">
</div>
