@{

    ViewData["Title"] = "Sharentach Trading Inc. | Stocks";
}

<div class="header">STOCKS</div>
<div class="upper-nav">
    <ul class="nav-options">
        <li><a asp-area="" asp-controller="Home" asp-action="#">Details</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="#">Items</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="#">Serials</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="#">References</a></li>
    </ul>
</div>

<div class="upper-box" style="height: 385px;">
    <form method="post">
        <!-- row 1 -->
        <label class="text" style="top: 20px; left: 17px;" for="name">Name:</label>
        <div class="input-box" style="width:280px; top: 48px; left: 17px">
            <input type="text" class="input" name="name" placeholder="Enter here" />
        </div>
        <label class="text" style="top: 20px; left: 308px;" for="description">Description:</label>
        <div class="input-box" style="width:280px; top: 48px; left: 308px">
            <input type="text" class="input" placeholder="Enter here" name="description">
        </div>
        <label class="text" style="top: 20px; left: 600px;" for="category">Category:</label>
        <div class="input-box" style="width:165px; top: 48px; left: 600px">
            <input type="text" class="input" placeholder="Enter here" name="soldTo">
        </div>
        <label class="text" style="top: 20px; left: 600px;" for="unitPrice">Unit Price:</label>
        <div class="input-box" style="width:165px; top: 48px; left: 600px">
            <input type="text" class="input" placeholder="Enter here" name="unitPrice">
        </div>
        <div class="save-cancel">
            <input class="save-button" style="margin-top:320px; margin-left: 990px" type="submit" value="Save" />
            <button class="cancel-button" style="margin-top:320px; margin-right: 20px">Cancel</button>
        </div>
    </form>
</div>
<div class="lower-box" style="height: 430px; top: 305px;">
</div>
