@{

    ViewData["Title"] = "Sharentach Trading Inc. | Stocks";
}

<div class="header">STOCKS</div>
<div class="upper-nav">
    <ul class="nav-options">
        <li><a class="tablinks" onclick="openTab(event, 'Details')" id="default">Details</a></li>
    </ul>
</div>

<div class="tabcontent" id="Details">
    <form method="post">
        <div class="upper-body">
            <div class="form xlarge">
                <label class="form-text" for="StockName">Name:</label>
                <input type="text" class="form-type" name="StockName" placeholder="Enter here" />
            </div>
            <div class="form xlarge">
                <label class="form-text" for="StockDescription">Description:</label>
                <input type="text" class="form-type" name="StockDescription" placeholder="Enter here" />
            </div>
            <div class="form large">
                <label class="form-text" for="StockCategory">Category:</label>
                <div class="input-with-button">
                    <input type="text" class="form-type" name="StockCategory" placeholder="Enter here" />
                    <button type="submit" class="button">New Category</button>
                </div>
            </div>
            <div class="form">
                <label class="form-text" for="StockUnitPrice">Unit Price:</label>
                <input type="text" class="form-type" name="StockUnitPrice" placeholder="Enter here" />
            </div>
            <div class="form">
                <label class="form-text" for="StockUnit">Unit:</label>
                <input type="text" class="form-type" name="StockUnit" placeholder="Enter here" />
            </div>
            <div class="form">
                <label class="form-text" for="StockQtyPerBox">Quantity Per Box:</label>
                <input type="text" class="form-type" name="StockQtyPerBox" placeholder="Enter here" />
            </div>
            <div class="form">
                <label class="form-text" for="StockPurchasePrice">Purchase Price:</label>
                <input type="text" class="form-type" name="StockPurchasePrice" placeholder="Enter here" />
            </div>
            <div class="form">
                <label class="form-text" for="StockVolPrice">Volume Price:</label>
                <input type="text" class="form-type" name="StockVolPrice" placeholder="Enter here" />
            </div>
            <div class="form">
                <label class="form-text" for="StockVolQty">Volume Quantity:</label>
                <input type="text" class="form-type" name="StockVolQty" placeholder="Enter here" />
            </div>
            <div class="form large">
                <label class="form-text" for="StockWarrantyPeriod">Warranty Period:</label>
                <input type="text" class="form-type" name="StockWarrantyPeriod" placeholder="Enter here" />
            </div>
            <div class="form large">
                <label class="form-text" for="StockExtendedWarranty">Extended Warranty:</label>
                <input type="text" class="form-type" name="StockExtendedWarranty" placeholder="Enter here" />
            </div>
            <div class="form xlarge">
                <label class="form-text" for="StockSupplier">Supplier:</label>
                <input type="text" class="form-type" name="StockSupplier" placeholder="Enter here" />
            </div>
            <div class="form">
                <label class="form-text" for="StockMaxLvl">Max Value:</label>
                <input type="text" class="form-type" name="StockMaxLvl" placeholder="Enter here" />
            </div>
            <div class="form">
                <label class="form-text" for="StockMinLvl">Min Value:</label>
                <input type="text" class="form-type" name="StockMinLvl" placeholder="Enter here" />
            </div>
            <div class="form">
                <label class="form-text" for="StockMarkUp">MarkUp:</label>
                <input type="text" class="form-type" name="StockMarkUp" placeholder="Enter here" />
            </div>

            <div class="button-horizontal">
                <label class="check">
                    <input type="checkbox" class="check-space" name="StockSerial">Has Serial
                </label>
                <input type="submit" class="button" value="Save" />
                <button type="submit" class="button">Cancel</button>
            </div>
        </div>
    </form>
</div>

<div class="lower-body">
    <div class="filter-form">
        <label class="filter-text" for="#">Filter</label>
        <input type="text" class="filter-type" name="#" value="" />
    </div>
    <div class="scroll">
        <table cellpadding="5" width="100%">
            <tr>
                <th>
                    StockName
                </th>
                <th>
                    StockCategory
                </th>
                <th>
                    StockUnitPrice
                </th>
                <th>
                    StockDescription
                </th>
            </tr>
        </table>
    </div>
    <div class="button-vertical">
        <button type="submit" class="button">Add</button>
        <button type="submit" class="button">Edit</button>
        <button type="submit" class="button">Delete</button>
    </div>
</div>