@{

    ViewData["Title"] = "Sharentach Trading Inc. | Dealers";
    ViewData["HeaderTag"] = "Dealers";
}

<div class="upper-box" style="height: 385px;">
    <!-- row 1 -->
    <div class="text" style="top: 20px; left: 17px;">Business Name:</div>
    <div class="input-box" style="width:280px; top: 48px; left: 17px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="top: 20px; left: 308px;">Address:</div>
    <div class="input-box" style="width:280px; top: 48px; left: 308px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="top: 20px; left: 600px;">Telephone #:</div>
    <div class="input-box" style="width:165px; top: 48px; left: 600px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="top: 20px; left: 780px;">Cellphone #:</div>
    <div class="input-box" style="width:165px; top: 48px; left: 780px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="top: 20px; left: 960px;">Fax #:</div>
    <div class="input-box" style="width:165px; top: 48px; left: 960px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <!-- row 2 -->
    <div class="text" style="top: 115px; left: 17px;">Business Type:</div>
    <div class="input-box" style="width:280px; top: 140px; left: 17px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="top: 115px; left: 308px;">Date Issued:</div>
    <div class="input-box" style="width:280px; top: 140px; left: 308px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="top: 115px; left: 600px;">Sec#:</div>
    <div class="input-box" style="width:165px; top: 140px; left: 600px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="top: 115px; left: 780px;">Email:</div>
    <div class="input-box" style="width:165px; top: 140px; left: 780px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="top: 115px; left: 960px;">Website:</div>
    <div class="input-box" style="width:165px; top: 140px; left: 960px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <!-- row 3 -->
    <div class="text" style="top: 205px; left: 17px;">Authorization Capital:</div>
    <div class="input-box" style="width:280px; top: 230px; left: 17px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="top: 205px; left: 308px;">Subscribed Capital:</div>
    <div class="input-box" style="width:280px; top: 230px; left: 308px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="top: 205px; left: 600px;">Paid-up Capital:</div>
    <div class="input-box" style="width:280px; top: 230px; left: 600px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="top: 205px; left: 895px;">Terms:</div>
    <div class="input-box" style="width:230px; top: 230px; left: 895px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <!-- row 4 -->
    <div class="text" style="font-size: 17px;top: 295px; left: 17px;">DTI Registration #:</div>
    <div class="input-box" style="width:180px; top: 315px; left: 17px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="font-size: 17px;top: 295px; left: 208px;">DTI Date Issued:</div>
    <div class="input-box" style="width:180px; top: 315px; left: 208px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="font-size: 17px;top: 295px; left: 400px;">DTI Amnt. Capital:</div>
    <div class="input-box" style="width:180px; top: 315px; left: 400px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="font-size: 17px;top: 295px; left: 590px;">DTI Paid Up Capital:</div>
    <div class="input-box" style="width:180px; top: 315px; left: 590px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style=" font-size: 17px; top: 295px; left: 785px;">DTI Tax Account #:</div>
    <div class="input-box" style="width:180px; top: 315px; left: 785px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="save-cancel">
        <button class="save-button" style="margin-top:320px; margin-left: 990px">Save</button>
        <button class="cancel-button" style="margin-top:320px; margin-right: 20px">Cancel</button>
    </div>
</div>
<div class="lower-box" style="height: 280px; top: 455px;">
</div>
