@{
    
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="post">
        <label for="DealerName">Dealer Name:</label>
        <input type="text" name="DealerName" value="@Model.DealerName" />
        <label for="DealerAddress">Dealer Address:</label>
        <input type="text" name="DealerAddress" value="@Model.DealerAddress" />
        <label for="DealerAccountId">Dealer Account Id:</label>
        <input type="number" name="DealerAccountId" value="@Model.DealerAccountId" />
        <input type="submit" value="Submit" class="submit" />
        <input type="hidden" name="Id" value="@Model.Id" readonly />
    </form>
</div>
