@{

    ViewData["Title"] = "Sharentach Trading Inc. | Stocks";
    ViewData["HeaderTag"] = "Stocks";
}

<div class="upper-box" style="height: 240px;">
    <div class="text" style="top: 20px; left: 17px;">Name:</div>
    <div class="input-box" style="top: 48px; left: 20px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="top: 20px; left: 350px;">Category:</div>
    <div class="input-box" style="top: 48px; left: 350px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="top: 20px; left: 680px;">Unit Price:</div>
    <div class="input-box" style="top: 48px; left: 680px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="top: 115px; left: 15px;">Description:</div>
    <div class="input-box" style="top: 140px; left: 20px; width:400px; height: 75px;">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="save-cancel">
        <button class="save-button" style="margin-top:160px; margin-left: 950px">Save</button>
        <button class="cancel-button" style="margin-top:160px; margin-right: 55px">Cancel</button>
    </div>
</div>
<div class="lower-box" style="height: 430px; top: 305px;">
</div>
