@{

    ViewData["Title"] = "Sharentach Trading Inc. | Receivables";
    ViewData["HeaderTag"] = "Receivables";
}

<div class="upper-box" style="height: 305px;" ">
    <!-- row 1 -->
    <div class="text" style="top: 20px; left: 17px;">Account #:</div>
    <div class="input-box" style="width:263px; top: 48px; left: 17px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="top: 20px; left: 295px;">Dealer:</div>
    <div class="input-box" style="width:263px; top: 48px; left: 295px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="top: 20px; left: 575px;">Bank Name:</div>
    <div class="input-box" style="width:263px; top: 48px; left: 575px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="top: 20px; left: 855px;">Check #:</div>
    <div class="input-box" style="width:263px; top: 48px; left: 855px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <!-- row 2 -->
    <div class="text" style="top: 115px; left: 17px;">Pay To the Order of:</div>
    <div class="input-box" style="width:263px; top: 140px; left: 17px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="top: 115px; left: 295px;">Date Issued:</div>
    <div class="input-box" style="width:263px; top: 140px; left: 295px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="top: 115px; left: 575px;">Date Due:</div>
    <div class="input-box" style="width:263px; top: 140px; left: 575px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="top: 115px; left: 855px;">RT #:</div>
    <div class="input-box" style="width:263px; top: 140px; left: 855px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <!-- row 3 -->
    <div class="text" style="top: 205px; left: 17px;">Amount:</div>
    <div class="input-box" style="width:263px; top: 230px; left: 17px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="top: 205px; left: 295px;">Status:</div>
    <div class="input-box" style="width:263px; top: 230px; left: 295px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="top: 205px; left: 575px;">Remarks:</div>
    <div class="input-box" style="width:360px; top: 230px; left: 575px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="save-cancel">
        <button class="save-button" style="margin-top:240px; margin-left: 990px">Save</button>
        <button class="cancel-button" style="margin-top:240px; margin-right: 20px">Cancel</button>
    </div>
</div>

<div class="lower-box" style="height: 360px; top: 375px;">
</div>