@{

    ViewData["Title"] = "Sharentach Trading Inc. | Reports";
    ViewData["HeaderTag"] = "Reports";
}

<div class="upper-box">
</div>
<div class="lower-box" style="height: 460px; top: 275px;">
</div>