@{

    ViewData["Title"] = "Sharentach Trading Inc. | Serial Search";
    ViewData["HeaderTag"] = "Serial Search";
}

<div class="upper-box">
    <div class="text" style="top: 20px; left: 17px;">Serial #:</div>
    <div class="input-box" style="top: 48px; left: 20px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="top: 20px; left: 350px;">DR #:</div>
    <div class="input-box" style="top: 48px; left: 350px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="top: 20px; left: 680px;">Stock Name:</div>
    <div class="input-box" style="top: 48px; left: 680px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="top: 115px; left: 15px;">Customer:</div>
    <div class="input-box" style="top: 140px; left: 20px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="text" style="top: 115px; left: 350px;">Date Sold:</div>
    <div class="input-box" style="top: 140px; left: 350px">
        <input type="text" class="input" placeholder="Enter here">
    </div>
    <div class="save-cancel">
        <button class="save-button" style="margin-top:160px; margin-left: 950px">Save</button>
        <button class="cancel-button" style="margin-top:160px; margin-right: 55px">Cancel</button>
    </div>
</div>
<div class="lower-box" style="height: 460px; top: 275px;">
</div>