@{

    ViewData["Title"] = "Sharentach Trading Inc. | Delivery Receipts";
}
<div class="header">DELIVERY RECEIPTS</div>
    <form method="post">
        <div class="upper-body">
            <div class="form large">
                <label class="form-text" for="qty">qty:</label>
                <input type="text" class="form-type" name="qty" placeholder="Enter here" />
            </div>
            <div class="form large">
                <label class="form-text" for="unit">unit:</label>
                <input type="text" class="form-type" name="unit" placeholder="Enter here" />
            </div>
            <div class="form large">
                <label class="form-text" for="article">article:</label>
                @Html.DropDownList("article", (List<SelectListItem>)Model.items, new { @class = "form-type" })@*, new { @class = "form-control" })*
                <input type="text" class="form-type" name="DeliverySoldTo" placeholder="Enter here" />*@
            </div>
            <div class="form large">
                <label class="form-text" for="unitPrice">unitPrice:</label>
                <input type="text" class="form-type" name="unitPrice" placeholder="Enter here" />
            </div>
            <div class="form large">
                <label class="form-text" for="payTo">payTo:</label>
                <input type="text" class="form-type" name="payTo" placeholder="Enter here" />
            </div>


            <div class="button-horizontal">
                <input type="submit" class="button" asp-area="" asp-controller="DeliveryReceipts" asp-action="additemspost" asp-route-id="@Model.id" value="Save">
                <input type="submit" class="button" asp-area="" asp-controller="DeliveryReceipts" asp-action="index" asp-route-id="@Model.id" value="Cancel">
            </div>
        </div>
    </form>
</div>



