@{
    
    ViewData["Title"] = "Sharentach Trading Inc. | Delivery Receipts";
}

<div class="header">DELIVERY RECEIPTS</div>
<div class="upper-nav">
    <ul class="nav-options">
        <li><a asp-area="" asp-controller="Home" asp-action="#">Details</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="#">Items</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="#">Serials</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="#">References</a></li>
    </ul>
</div>

<form action="#">
    <div class="upper-body">
        <div class="form large">
            <label class="form-text for="#">DR #:</label>
            <input type="text" class="form-type" name="#" value="" />
        </div>
        <div class="form large">
            <label class="form-text for="#">Invoice #:</label>
            <input type="text" class="form-type" name="#" value="" />
        </div>
        <div class="form large">
            <label class="form-text for="#">Terms:</label>
            <input type="text" class="form-type" name="#" value="" />
        </div>
        <div class="form large">
            <label class="form-text for="#">Sold To:</label>
            <input type="text" class="form-type" name="#" value="" />
        </div>
        <div class="form large">
            <label class="form-text for="#">Date Sold:</label>
            <input type="text" class="form-type" name="#" value="" />
        </div>

        <div class="button-horizontal">
            <button type="submit" class="button">New Term</button>
            <button type="submit" class="button">Save</button>
            <button type="submit" class="button">Cancel</button>
        </div>
    </div>
</form>

<div class="lower-body">
    <div class="filter-form">
        <label class="filter-text" for="#">Filter</label>
        <input type="text" class="filter-type" name="#" value="" />
    </div>
    <div class="button-vertical">
        <button type="submit" class="button">Add</button>
        <button type="submit" class="button">Edit</button>
        <button type="submit" class="button">Delete</button>
        <button type="submit" class="button">Jump DR</button>
        <button type="submit" class="button">Print DR</button>
        <button type="submit" class="button">Print SI</button>
    </div>
</div>
