@{

    ViewData["Title"] = "Sharentach Trading Inc. | Serial Search";
}

<div class="header">SERIAL SEARCH</div>
<div class="upper-nav">
    <ul class="nav-options">
        <li><a asp-area="" asp-controller="Home" asp-action="#">Detials</a></li>
    </ul>
</div>

<<div class="upper-box">
    <form method="post">
        <!-- row 1 -->
        <label class="text" style="top: 20px; left: 17px;" for="serialNo">Serial #:</label>
        <div class="input-box" style="top: 48px; left: 20px">
            <input type="text" class="input" name="serialNo" placeholder="Enter here" />
        </div>
        <label class="text" style="top: 20px; left: 350px;" for="drNo">DR #:</label>
        <div class="input-box" style="top: 48px; left: 350px">
            <input type="text" class="input" placeholder="Enter here" name="drNo">
        </div>
        <label class="text" style="top: 20px; left: 680px;" for="stockName">Stock Name:</label>
        <div class="input-box" style="top: 48px; left: 680px">
            <input type="text" class="input" placeholder="Enter here" name="stockName">
        </div>
        <label class="text" style="top: 115px; left: 15px;" for="customer">Customer:</label>
        <div class="input-box" style="top: 140px; left: 20px">
            <input type="text" class="input" placeholder="Enter here" name="customer">
        </div>
        <label class="text" style="top: 115px; left: 350px;" for="dateSold">Date Sold:</label>
        <div class="input-box" style="top: 140px; left: 350px">
            <input type="text" class="input" placeholder="Enter here" name="Date Sold">
        </div>
        <div class="save-cancel">
            <input class="save-button" style="margin-top:160px; margin-left: 950px" type="submit" value="Save" />
            <button class="cancel-button" style="margin-top:160px; margin-right: 55px">Cancel</button>
        </div>
    </form>
</div>
<div class="lower-box" style="height: 460px; top: 275px;">
</div>