@{

    ViewData["Title"] = "Sharentach Trading Inc. | Serial Search";
}

<div class="header">SERIAL SEARCH</div>
<div class="upper-nav">
    <ul class="nav-options">
        <li><a class="tablinks" onclick="openTab(event, 'Details')" id="default">Details</a></li>
    </ul>
</div>

<div class="tabcontent" id="Details">
    <form method="post">
        <div class="upper-body">
            <div class="form large">
                <label class="form-text" for="SerialNo">Serial #:</label>
                <input type="text" class="form-type" name="SerialNo" placeholder="Enter here" />
            </div>
            <div class="form large">
                <label class="form-text" for="SerialStockName">Stock Name:</label>
                <input type="text" class="form-type" name="SerialStockName" placeholder="Enter here" />
            </div>
            <div class="form large">
                <label class="form-text" for="SerialCustomer">Customer:</label>
                <input type="text" class="form-type" name="SerialCustomer" placeholder="Enter here" />
            </div>
            <div class="form large">
                <label class="form-text" for="SerialDrNo">DR #:</label>
                <input type="text" class="form-type" name="SerialDrNo" placeholder="Enter here" />
            </div>
            <div class="form large">
                <label class="form-text" for="SerialDateSold">Date Sold:</label>
                <input type="text" class="form-type" name="SerialDateSold" placeholder="Enter here" />
            </div>
            <div class="form large">
                <label class="form-text" for="SerialTerms">Terms:</label>
                <div class="input-with-button">
                    <input type="text" class="form-type" name="SerialTerms" placeholder="Enter here" />
                    <button type="submit" class="button">New Term</button>
                </div>
            </div>
            <div class="form large">
                <label class="form-text" for="SerialWarrantyPeriod">Warranty Period:</label>
                <input type="text" class="form-type" name="SerialWarrantyPeriod" placeholder="Enter here" />
            </div>
            <div class="form large">
                <label class="form-text" for="SerialEndOfWarranty">End Of Warranty:</label>
                <input type="text" class="form-type" name="SerialEndOfWarranty" placeholder="Enter here" />
            </div>
            <div class="form large">
                <label class="form-text" for="SerialExtendedWarranty">Extended Warranty:</label>
                <input type="text" class="form-type" name="SerialExtendedWarranty" placeholder="Enter here" />
            </div>
            <div class="form large">
                <label class="form-text" for="SerialOFExtended">End Of Extended:</label>
                <input type="text" class="form-type" name="SerialExtendedWarranty" placeholder="Enter here" />
            </div>
            <div class="form large">
                <label class="form-text" for="SerialCategory">Category:</label>
                <div class="input-with-button">
                    <input type="text" class="form-type" name="SerialCategory" placeholder="Enter here" />
                    <button type="submit" class="button">New Category</button>
                </div>
            </div>
            <div class="form large">
                <label class="form-text" for="SerialRemarks">Remarks:</label>
                <input type="text" class="form-type" name="SerialRemarks" placeholder="Enter here" />
            </div>

            <div class="button-horizontal">
                <input type="submit" class="button" value="Save" />
                <button type="submit" class="button">Cancel</button>
            </div>
        </div>
    </form>
</div>

<div class="lower-body">
    <div class="filter-form">
        <label class="filter-text" for="#">Filter</label>
        <input type="text" class="filter-type" name="#" value="" />
    </div>
    <div class="scroll">
        <table cellpadding="5" width="100%">
            <tr>
                <th>
                    SerialNo
                </th>
                <th>
                    SerialDrNo
                </th>
                <th>
                    SerialStockName
                </th>
                <th>
                    SerialCustomer
                </th>
                <th>
                    SerialDateSold
                </th>
            </tr>
        </table>

        <div class="button-vertical">
            <button type="submit" class="button">Search</button>
        </div>
    </div>
</div>