@{

    ViewData["Title"] = "Sharentach Trading Inc. | Serial Search";
}

<div class="header">SERIAL SEARCH</div>
<div class="upper-nav">
    <ul class="nav-options">
        <li><a asp-area="" asp-controller="Home" asp-action="#">Details</a></li>
    </ul>
</div>

<form action="#">
    <div class="upper-body">
        <div class="form large">
            <label class="form-text" for="#">Serial #:</label>
            <input type="text" class="form-type" name="#" value="" />
        </div>
        <div class="form large">
            <label class="form-text" for="#">Customer:</label>
            <input type="text" class="form-type" name="#" value="" />
        </div>
        <div class="form large">
            <label class="form-text" for="#">DR #:</label>
            <input type="text" class="form-type" name="#" value="" />
        </div>
        <div class="form large">
            <label class="form-text" for="#">Date Sold:</label>
            <input type="text" class="form-type" name="#" value="" />
        </div>
        <div class="form large">
            <label class="form-text" for="#">Stock Name:</label>
            <input type="text" class="form-type" name="#" value="" />
        </div>

        <div class="button-horizontal">
            <button type="submit" class="button">Save</button>
            <button type="submit" class="button">Cancel</button>
        </div>
    </div>
</form>

<div class="lower-body">
    <div class="filter-form">
        <label class="filter-text" for="#">Filter</label>
        <input type="text" class="filter-type" name="#" value="" />
    </div>
</div>