@{

    ViewData["Title"] = "Sharentach Trading Inc. | Receivables";
}

<div class="header">RECEIVABLES</div>
<div class="upper-nav">
    <ul class="nav-options">
        <li><a asp-area="" asp-controller="Home" asp-action="#">Details</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="#">Reference No.</a></li>
    </ul>
</div>

<div class="upper-box" style="height: 385px;">
    <form method="post">
        <!-- row 1 -->
        <label class="text" style="top: 20px; left: 17px;" for="accountNo">Account #:</label>
        <div class="input-box" style="width:280px; top: 48px; left: 17px">
            <input type="text" class="input" name="accountNo" placeholder="Enter here" />
        </div>
        <label class="text" style="top: 20px; left: 308px;" for="dealer">Dealer:</label>
        <div class="input-box" style="width:280px; top: 48px; left: 308px">
            <input type="text" class="input" placeholder="Enter here" name="dealer">
        </div>
        <label class="text" style="top: 20px; left: 600px;" for="bankName">Bank Name:</label>
        <div class="input-box" style="width:165px; top: 48px; left: 600px">
            <input type="text" class="input" placeholder="Enter here" name="bankName">
        </div>
        <label class="text" style="top: 20px; left: 600px;" for="checkNo">Check #:</label>
        <div class="input-box" style="width:165px; top: 48px; left: 600px">
            <input type="text" class="input" placeholder="Enter here" name="checkNo">
        </div>
        <label class="text" style="top: 20px; left: 780px;" for="rtNo">RT #:</label>
        <div class="input-box" style="width:165px; top: 48px; left: 780px">
            <input type="text" class="input" placeholder="Enter here" name="rtNo">
        </div>
        <label class="text" style="top: 20px; left: 780px;" for="payToTheOrderOf">Pay To The Order Of:</label>
        <div class="input-box" style="width:165px; top: 48px; left: 780px">
            <input type="text" class="input" placeholder="Enter here" name="payToTheOrderOf">
        </div>
        <label class="text" style="top: 20px; left: 780px;" for="dateIssued">Date Issued:</label>
        <div class="input-box" style="width:165px; top: 48px; left: 780px">
            <input type="text" class="input" placeholder="Enter here" name="dateIssued">
        </div>
        <label class="text" style="top: 20px; left: 780px;" for="dateDue">Date Due:</label>
        <div class="input-box" style="width:165px; top: 48px; left: 780px">
            <input type="text" class="input" placeholder="Enter here" name="dateDue">
        </div>
        <label class="text" style="top: 20px; left: 780px;" for="amount">Amount:</label>
        <div class="input-box" style="width:165px; top: 48px; left: 780px">
            <input type="text" class="input" placeholder="Enter here" name="amount">
        </div>
        <label class="text" style="top: 20px; left: 780px;" for="status">Status:</label>
        <div class="input-box" style="width:165px; top: 48px; left: 780px">
            <input type="text" class="input" placeholder="Enter here" name="status">
        </div>
        <label class="text" style="top: 20px; left: 780px;" for="remarks">Remarks:</label>
        <div class="input-box" style="width:165px; top: 48px; left: 780px">
            <input type="text" class="input" placeholder="Enter here" name="remarks">
        </div>
        <div class="save-cancel">
            <input class="save-button" style="margin-top:320px; margin-left: 990px" type="submit" value="Save" />
            <button class="cancel-button" style="margin-top:320px; margin-right: 20px">Cancel</button>
        </div>
    </form>
</div>

<div class="lower-box" style="height: 360px; top: 375px;">
</div>