@{

    ViewData["Title"] = "Sharentach Trading Inc. | Receivables";
}

<div class="header">RECEIVABLES</div>
<div class="upper-nav">
    <ul class="nav-options">
        <li><a asp-area="" asp-controller="Home" asp-action="#">Details</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="#">Reference No.</a></li>
    </ul>
</div>

<form action="#">
    <div class="upper-body">
        <div class="form large">
            <label class="form-text for="#">Account #:</label>
            <input type="text" class="form-type" name="#" value="" />
        </div>
        <div class="form large">
            <label class="form-text for="#">Dealer:</label>
            <input type="text" class="form-type" name="#" value="" />
        </div>
        <div class="form large">
            <label class="form-text for="#">Bank Name:</label>
            <input type="text" class="form-type" name="#" value="" />
        </div>
        <div class="form large">
            <label class="form-text for="#">Check #:</label>
            <input type="text" class="form-type" name="#" value="" />
        </div>
        <div class="form large">
            <label class="form-text for="#">Pay To the Order of:</label>
            <input type="text" class="form-type" name="#" value="" />
        </div>
        <div class="form large">
            <label class="form-text for="#">Date Issued:</label>
            <input type="text" class="form-type" name="#" value="" />
        </div>
        <div class="form large">
            <label class="form-text for="#">RT #:</label>
            <input type="text" class="form-type" name="#" value="" />
        </div>
        <div class="form large">
            <label class="form-text for="#">Amount:</label>
            <input type="text" class="form-type" name="#" value="" />
        </div>
        <div class="form large">
            <label class="form-text for="#">Status:</label>
            <input type="text" class="form-type" name="#" value="" />
        </div>
        <div class="form large">
            <label class="form-text for="#">Remarks:</label>
            <input type="text" class="form-type" name="#" value="" />
        </div>

        <div class="button-horizontal">
            <button type="submit" class="button">Save</button>
            <button type="submit" class="button">Cancel</button>
        </div>
    </div>
</form>

<div class="lower-body">
    <div class="filter-form">
        <label class="filter-text" for="#">Filter</label>
        <input type="text" class="filter-type" name="#" value="" />
    </div>
    <div class="button-vertical">
        <button type="submit" class="button">Add</button>
        <button type="submit" class="button">Edit</button>
        <button type="submit" class="button">Delete</button>
    </div>
</div>
